.main {
  margin: flex;
  width: 50%;
  padding: 40px;
}

.searchContainer {
  display:flex;
  width: 70%;
  margin:auto;
  padding: 10px;
}

.tableContainer {
  margin-top: 50px;
  display: flex;
}

table, th, td {
  border: 1px solid;
}