
.searchContainer {
  display:flex;
  width: 70%;
  padding: 10px;
  margin-top:50px;
  margin-left: 240px;

}

.tableContainer {
  margin-top: 30px;
  display: flex;
  margin-left: 250px;
}

.searchTable, .searchHeader, .tableData {
  border: 1px solid;
}

.redirectButton {
  float: right;
  margin-left: 450px;
  padding: 6px 30px;
  white-space: nowrap;
  text-align: center;
  border-radius: 4px;
  transition-duration: .2s;
}

.redirectButton:hover {
  background-color:#6133FF;
}